.navmenu {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;

}

li a {
    display: block;
    color:  	#DCDCDC;
    font-size: 110%;
    text-align: center;
    padding: 20px;
    text-decoration:none;
}

li a:hover {
    background-color:grey;
    font-size:18px
}
body{
  background-color:#383838;
}
.top{
      background-image: url('pic5.jpg');
      min-height: 70%;

}
.top {
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: cover;
}
.fixture {
  float: left;
    position: relative;

}
.img1{
  display: block;
  margin-left:30px;
  width: 400px;
   height: auto;
   align:center;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 40%;

}
.fixture:hover .img1 {
  opacity: 0.3;
}
.fixture:hover .middle {
  opacity: 1;
}

.txt1 {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
}
